<div class="main">
	   
	      <div class="container">
	       <div class="about_trainer">
		      <h3 class="m_2">Our Trainers</h3>
		      <div class="row about_box">
			  <div class="col-md-4">
				  <div class="box1">
				  	<div class="box1_left">
 					  <img src="/images/about_img4.jpg" class="img-responsive" alt=""/>				  		
					  <div class="desc1">
						<h3>Lorem Ipsum<br><span class="m_text">Spinning</span></h3>
						<p>Lorem ipsum dolor sit amet, consectetuer.</p>
						<div class="coursel_list">
							<i class="a_heart"> </i>
							<i class="like1"> </i>
						</div>
						<div class="coursel_list1">
							<i class="a_twt"> </i>
							<i class="a_fb"> </i>
						</div>
						<div class="clear"></div>
					 </div>
					</div>
					<div class="box1_right">
 					 <h4>Qualifications</h4>
 					 <p>Lorem ipsum dolor consect adipiscing elit, diamnonu nibh euismod dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim </p>
 					  <h4>Speciality</h4>
 					 <p class="para1">diam nonummy euismod tincidunt ut laoreet dolore magna aliquam volutpat.</p>
				    </div>
				   <div class="clear"></div>
				  </div>
				</div>
				
		      	<div class="col-md-8">
				   <form method="post">
        <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" id="firstName" class="form-control" ng-model="vm.user.firstName" required />
        </div>
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" id="lastName" class="form-control" ng-model="vm.user.lastName" required />
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ng-model="vm.user.username" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" ng-model="vm.user.password" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.saveUser()">Save</button>
            <button class="btn btn-danger" ng-click="vm.deleteUser()">Delete</button>
        </div>
    </form>
				</div>
				
				<div class="clear"></div>
		     </div>
		    
		  </div>
		 </div>
    </div>
<script src="/js/jquery-ui.js"></script>
				  <script>
				  $(function() {
				    $( "#datepicker" ).datepicker();
				  });
				  </script>




